.subscribe {
    &_bg {
        background-color: $first-color-second;
        padding: 1.7rem 0;
    }
    &_desc {
        color: $white-color;
        text-align: center;
        margin-bottom: $mb-2-5;
        padding-right: 2rem;
    }
    &_form {
        display: flex;
        justify-content: space-between;
        background-color: $input-color;
        padding: 0.3rem;
        // width: 200px;
    }
    &_input {
        // padding: 0.3rem;
        // @include size(500px, 2rem)
        // outline: none;
        width: 100%;
        padding-left: 1rem;
        background-color: $input-color;
        color: $text-color;
    }
    &_button {
        // color: $white-color;
        // margin-right: 1rem;
        // border: 1px solid $first-color-second;
        // background-color: $first-color-second;
    }
}